**/*.rs.bk
.#*
.gdb_history
Cargo.lock
target/
.idea/
.DS_Store
._target

# editor files
.vscode/*
!.vscode/*.md
!.vscode/*.svd
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json
/kicad/munlite-backups/
